// Imports
@import "variables";
@import "buttons";
@import "header";
@import "footer";
@import "reset";
@import "mixins";

// Criação de Variável
$color-primary: pink;

// Chamada de Variável
body {
  background-color: $color-primary;
}

// Encadeamento
.s-hero {
  width: 100%;
  height: 200px;
  background-color: coral;

  .text {
    h1 {
      color: greenyellow;
    }
    p {
      color: grey;
    }
  }

  .image {
    max-width: 100%;
  }

  button {
    background-color: hotpink;
    border: none;
    padding: 1rem 4rem;
    font-size: 1rem;
    cursor: pointer;

    // Chamada Hover
    &:hover {
      background-color: indigo;
    }

    // Chamada a classe específica (Ex: active)
    &.active {
      color: white;
    }
  }
}

// Mixins
// Parecido com as varivaies, porém podem conter vários atributos

@mixin style-btn {
  width: 100%;
  padding: 1rem 15px;
  margin: 2rem 0;
  background-color: black;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.first-section {
  .btn {
    @include style-btn;
  }
}

// Minixs com Argumentos Dinamico
@mixin style-btn-com-argumento($largura, $altura, $bgbtn) {
  width: $largura;
  height: $altura;
  background-color: $bgbtn;
  padding: 1rem 15px;
  margin: 2rem 0;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

@mixin flex-element($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

// Definindo o argumento especifico para o width, height e background-color
.second-section {
  .btn {
    @include style-btn-com-argumento(350px, 100px, #415a21);
  }
}

footer {
  @include flex-element(center, center, row);
  background-color: pink;

  button {
    @include style-btn-com-argumento(200px, 50px, purple);
  }
}
