@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin style-btn($height, $bg, $bgHover, $colorText, $colorText) {
  display: inline-block;
  height: $height;
  background-color: $bg;
  border-radius: 0.6rem;
  padding: 0 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}
